body {
  margin: 0;
  padding: 0;
}
#content {
  text-align: center;
  font-family: helvetica;
}
#content p {
  margin: 0.5em;
}
#content h1 {
  font-size: 100%;
  border: 1px solid #dcdcdc;
  display: inline-block;
  padding: 20px 40px;
  margin: 0.3em auto;
}
@media only screen and (max-width: 500px) {
  #content h1 {
    padding: 0 20px;
  }
}
#content #controls .tier {
  display: none;
}
#content #controls.tier0 .tier.t0 {
  display: inline;
}
#content #controls.tier1 .tier.t1 {
  display: inline;
}
#content #controls.tier2 .tier.t2 {
  display: inline;
}
#content #controls.tier3 .tier.t3 {
  display: inline;
}
#content #controls.tier4 .tier.t4 {
  display: inline;
}
#content #controls.tier5 .tier.t5 {
  display: inline;
}
#content #controls.tier6 .tier.t6 {
  display: inline;
}
#content #controls .control {
  margin: 2ex;
}
@media only screen and (max-width: 500px) {
  #content #controls .control {
    display: block;
  }
}
#header,
#social,
#content,
#footer {
  padding: 5px;
}
#footer,
#social {
  margin-top: 2ex;
}
#footer {
  margin-top: 2ex;
  float: right;
  text-align: right;
  max-width: 40%;
}
#footer p {
  margin-top: 0;
}
@media only screen and (max-width: 800px) {
  #footer {
    max-width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  #footer {
    max-width: 100%;
  }
}
#header ul li,
#footer ul li {
  list-style-type: none;
  display: inline;
  font-size: 90%;
}
#header ul li:first-child,
#footer ul li:first-child {
  font-size: 100%;
}
#header li+li:before,
#footer li+li:before {
  content: " | ";
}
